.rotate {
  animation: rotate 4s linear infinite;
  transform-origin: center;
}

.footer {
  padding-top: 1rem; /* Reduced padding */
  padding-bottom: 1rem; /* Reduced padding */
}
  
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}