.headingbox {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 105px;
  padding-bottom: 2vh;
}


.bottomsection {
  padding-left: 5px;
  padding-right: 5px;
}


