.headingbox{
  margin-left: 15vh;
  margin-right: 30vh;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin-top: 5%;
  /* margin-bottom: 6%; */
  padding-bottom: 3rem;
}

.aboutclub{
  font-size: large;
  margin-left: 15vh;
  margin-right: 30vh;
}

.divider{
  background-color: black;
}



.databox{
  margin-top: 2rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-items: center;
  justify-content: space-around;
  
}


.datacard{
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  max-width: 40%;
  min-width: 30%;

  border-width: 3px;
  border-color: teal;
  border-radius: 10px;

}

.namestyle{
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(45, 212, 191);
  padding-bottom: 10px;
}


