.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 4rem; */
  min-height: 100vh;
  overflow: hidden;
  /* background-color: #111827; */
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 50px 50px;
  color: #fff;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

.landinggroup {
  margin-left: 20vh;
  margin-right: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin-top: 31%;
  /* margin-bottom: 6%; */
  padding-bottom: 6rem;
}

@media (max-width: 768px) {
  .landinggroup {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 30vh;
  }
}

.content {
  margin: 0;
  padding: 0;
  color: rgb(179, 0, 0);
  font-size: 144px;
  font-weight: bold;
  background-color: #111827;
}

.marquee {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.aboutgroup {
  display: flex;
  margin-top: 8vh;
  margin-left: 11vh;
  margin-right: 11vh;
  align-items: center;
}

@media (max-width: 900px) {
  .aboutgroup {
    margin-left: 0vh;
    margin-right: 0vh;
    display: block;
    font-size: x-small;
    margin-top: 0vh;
  }
}

.aboutimage {
  margin-left: 5vh;
  margin-right: 6vh;
}

@media (max-width: 900px) {
  .aboutimage {
    margin-top: 3vh;
  }
}

.rotate {
  animation: rotate 4s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

