.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 100px 50px 50px;
  color: #fff;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  background-size: cover;
  background-position: center;
}

.landinggroup {
  position: relative;
  z-index: 1; 
  padding: 40px 100px 40px 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px; 
}

.headingtext {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .landinggroup {
    flex-direction: column;
    align-items: left;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 30vh;
    text-align: left;
  }

  .logo {
    order: -1; 
    justify-content: left;
    width: 100%; 
  }

  .headingtext {
    width: 100%; 
    align-items: left; 
  }
}

/* @media (max-width: 515px) {
  .landinggroup {
    flex-direction: column;
    align-items: left;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 30vh;
    text-align: left;
  }
} */

.content {
  margin: 0;
  padding: 0;
  color: rgb(179, 0, 0);
  font-size: 144px;
  font-weight: bold;
  background-color: #111827;
}

.marquee {
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.aboutgroup {
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .aboutgroup {
    margin-left: 0vh;
    margin-right: 0vh;
    display: block;
    font-size: 15px;
    margin-top: 0vh;
  }
}

.aboutimage {
  margin-left: 5vh;
  margin-right: 6vh;
}

@media (max-width: 900px) {
  .aboutimage {
    margin-top: 3vh;
  }
}

.rotate {
  animation: rotate 4s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);
}

